


  
  .container {
      display:flex;
      /* flex-wrap: wrap; */
      justify-content: space-evenly;
      /* width: 100%; */
      /* margin: 20px 0 20px; */
  }
  .elHome{
  }
  
  .cardt {
      width: 100px;
      background-color: rgb(141, 129, 148);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
      }

  .disclaimer {
      position: fixed;
      bottom: 0;
      left: 50%;
      z-index: 2;
      box-sizing: border-box;
      width: 100%;
      padding: 20px 10px;
      background-color: white;
      transform: translateX(-50%);
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      text-align: center;
  }
  .card__image{
    justify-content: center;
    display: flex;
    position: center;
    line-height: 26px;
    width: 300px;
    /* left: 50%; */
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  }
  
.contenedorCard { 
  background-color: rgba(229 231 235);
  max-width: 100%;
  flex-wrap: wrap;
}

.contenedorPadre {
  display: flex;
  width: 90%;
  max-width: 1500px;
  padding: 20px 0px;
  gap: 20px;
  flex-wrap: wrap;
}
