
.botones{
    position: inline-block;
    font-family: 'Bebas Neue', cursive;
    /* justify-content: space-around; */
    text-decoration: none;
    border: 2px solid #fff;
    box-shadow: 0 15px 20px 1px grey;
	background: rgba(0, 0, 0, .8);
	border-radius: 5px;
	margin: 4.7rem auto 10% auto;
	height: 100px;
    width: 100%;
    font-size: 20px;
    padding: 25px ;
    text-decoration: none;
    color: #fff;
    margin: -1 ;
    font-weight: 400;
    transition: .5s;
    margin-top:5%;
}

.home{
    margin-top:7px;
}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    border: 2px solid #fff;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px ;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #e2da04;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul .pages a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul .pages a:hover {
    display: inline-block;
    color: #e28504;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: #e2da04;
}

#inicio .contenido header .contenido-header .seleccionado {
     display: inline-block;
    color: #e28504;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 55px;
    color: #e28504;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    
    background-color: #e28504;
}

#icono-nav {
    color: rgb(255, 255, 255);
    display: none;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}


@media screen and (max-width: 1000px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive .ul {
        display: block ;
        text-align: center;
    }
    nav.responsive ul li {
        display: inline-table;
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 20px;
    }
    /* seccion SOBRE MI */
    #products {
        padding: 50px 0;
        display: block;
    }
    #products .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #products .contenedor-foto img {
        padding: 8px;
    }
    #products .products .titulo-seccion {
        text-align: center;
    }
    #products .products h2 {
        font-size: 25px;
        text-align: center;
    }
    /* seccion MIS SERVICIOS */
    #categories {
        padding: 50px 15px;
    }
    #categories .fila {
        display: block;
    }
    #categories .fila .servicio {
        margin: 10px auto;
    }
    /* seccion HABLIDADES MI */
    .contenedor-skills {
        padding: 50px 20px;
    }
    /* seccion PORTFOLIO */
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    /* seccion CONTACTO */
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}